{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "standard",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 13
  },
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "no-var": "error",
    "no-use-before-define": "error",
    "no-throw-literal": "off",
    "@typescript-eslint/no-namespace": "off",
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "prefer-const": ["error", { "destructuring": "any", "ignoreReadBeforeAssign": false }],
    "no-multi-assign": "error",
    "one-var": ["error", "never"],
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }]
  }
}
